#btnGuardar:hover {
    color: white !important;
}

#btnModificar:hover {
    color: white !important;
}

#btnEliminar:hover {
    color: white !important;
}

#close:hover {
    color: white !important;
}