/* font */
@import url('https://fonts.googleapis.com/css2?family=Gelasio&display=swap&family=Montserrat:wght@300;400;700;800&display=swap');


/*---------------VARIABLES CSS-------------------*/
:root {
    --header-height: 6.25rem;

    /*---------------COLLORS -------------------*/
    --rosa-color: #e4b2c6a9;
    --cafe-color: #4f321f;
    --amarillo-color: #dfd6a7;
    --white-color: #ffffff;
    --black-color: #151515;
    --fuccia-color: rgb(219, 103, 149);

    /*---------------FONT  AND TYPOGRAPHY-------------------*/
    --font-cursive: 'Gelasio', cursive;
    --body-font: 'Montserrat', sans-serif;
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.813rem;

    /*---------------FONT WEIGHT-------------------*/
    --font-light: 300;
    --font-medium: 400;
    --font-semi-bold: 700;
    --font-bold: 800;

    /*---------------MARGINS-------------------*/
    --mb-05: 0.5rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*---------------Z INDEXS-------------------*/
    --Z-fixed: 100;
    --z-tooltip: 10;
    --z_negative: -1;
}
/* base */
*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    margin: 0 auto; /* Centrar el contenido */
}


html {
    overflow-y:auto;
    overflow-x:hidden;
}

body{
    background-color: var(--white-color);
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
   
    overflow-y:hidden;
    overflow-x:hidden;
}

main{
    position:relative;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.section{
    padding: calc(var(--header-height) + 20px) 0;
}
.grid{
    display: grid;
    gap: 20px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-size: 16px; /* Tamaño base */
}

.section__title {
    margin: 0 auto;
    text-align: center;
}
.section__title2 {
    margin: 0 auto;
    text-align: center;
}
.section__title h1{
    font-family: var(--font-cursive);
    font-size: var(--big-font-size);
    font-weight: var(--font-medium);
    line-height: var(--big-font-size);
    color: var(--rosa-color);
    font-size: 2rem;
}
.section__title2 h1{
    font-family: var(--font-cursive);
    font-size: var(--big-font-size);
    font-weight: var(--font-medium);
    line-height: var(--big-font-size);
    color: var(--black-color);
}
.section__title span{
    font-weight: var(--font-light);
    font-size: var(--h2-font-size);
    line-height: var(--h2-font-size);
    color: var(--white-color);
}


/* BUTTON */
.agendar{
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--cafe-color);
    color: var(--white-color);
    border: 1px solid var(--cafe-color);
    border-radius: 50px;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
    line-height: var(--normal-font-size);
    padding: 10px 10px;
    outline: none;
    cursor: pointer;
    transition: all 400ms ease;
}
.agendar:hover{
    background-color: transparent;
    color: var(--cafe-color);
}
.agendar{
    width: 280px;
    background-color: transparent;
    color: var(--cafe-color);
    padding: 5px 10px 5px 0;
    transition: all 400ms ease-in-out;
    position: relative;
}
.agendar::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18%;
    height: 100%;
    background-color: var(--fuccia-color);
    border: 1px solid var(--cafe-color);
    border-radius: 50px;
    transition:  all 400ms ease-in-out;
}
.agendar i{
    position: relative;
    left: -38px;
    margin-right: var(--mb-1-5);
    font-size: var(--h2-font-size);
    color: var(--white-color);
    z-index: var(--z-tooltip);
}
.agendar:hover::before{
    width: 100%;
    z-index: var(--z_negative);
}
.agendar:hover{
    color: var(--white-color);
    z-index: var(--z-tooltip);
}
/* NAV */



/*HOME IMAGEN FONDO*/
.home {
    min-height: 100vh;
    background: url(/IMG/fondo8.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    overflow: hidden;
    position: relative;
}

.home .content {
    display: flex;
    flex-flow: column;
    padding-top: 18rem;
    text-align:left;
    padding-left: 20px;
}

.home .content h1{
    font-size: 6rem;
    text-transform:inherit;
    color: var(--fuccia-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}

.home .content p{
    font-size: 3rem;
    font-weight: 1rem;
    line-height: 1.0;
    padding:1rem 0;
    color:rgb(14, 3, 0) ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}




  
/* ABOUT */
.container{
    height: 350px;
    max-width: 1200px;
    margin: 0 auto;
    
}
.about {
    background-color: var(--rosa-color);
}
.about__content{
    padding: 2rem;
}
.about__container {
   
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.about__body {
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}

.about__body--show {
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.about__img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.about__texts {
    max-width: 700px;
}

.about__course {
    background-color: var(--fuccia-color);
    color: #fff;
    display: inline-block;
    padding: 5px;
}

.about__arrow {
    width: 90%;
    cursor: pointer;
}


/*MAPA*/



/* FOOTER */
.footer{
    background-color: var(--rosa-color);
}
.footer__list{
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--black-color);
}
.footer__data-social .social__icon{
    color: var(--black-color);
    font-size: var(--h2-font-size);
}
.footer__data-social .social__icon:hover{
    border-bottom: 1px solid var(--white-color);
}
.footer__data{
    text-align: center;
    margin-bottom: var(--mb-1);
    
}
.footer__data h1{
    color: var(--black-color);
}
.footer__data-social{
    margin-top: var(--mb-1);
}
.footer__data h2{
    font-weight: var(--font-bold);
    font-size: var(--h2-font-size);
    line-height: var(--h2-font-size);
    color: var(--black-color);
    margin-bottom: var(--mb-1);
    text-transform: capitalize;
}
.footer__data p{
    font-weight: var(--font-medium);
    line-height: calc(var(--normal-font-size) + 10px);
    text-align: center;
    color: var(--black-color);
}
.footer .copy{
    text-align: center;
    padding: 1rem 0;
    color: var(--black-color);
}
.footer .copy p{
    font-weight: var(--font-bold);
    line-height: var(--h3-font-size);
}
.footer .copy span{
    font-size: var(--small-font-size);
    line-height: var(--small-font-size);
}

@media (min-width: 960px){

    .nav__item:not(:last-child){
        margin-right: var(--mb-2-5);
    }
    .nav__link{
        font-size: var(--normal-font-size);
        font-weight: var(--font-bold);
        text-transform: capitalize;
        color: var(--black-color);
        transition: all 400ms ease;
        position: relative;
    }
    .nav__toggle{
        display: none;
    }
    .hero .hero__img{
        display: block;
    }
    .hero .hero__img, .hero .hero__content{
        width: 50%;
        height: 100vh;
    }
    .hero .hero__img img{
        max-width: 100%;
        height: 100%;
    }
    .hero .hero__content,
    .hero .hero__content p{
        align-items: flex-start;
        text-align: left;
        padding: 0;
    }
    .hero .hero__content h1{
        font-size: 4rem;
    }
    .footer__list{
        grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 600px) {
        body {
            font-size: 14px;
        }
    }
    
}