/* font */
@import url('https://fonts.googleapis.com/css2?family=Gelasio&display=swap&family=Montserrat:wght@300;400;700;800&display=swap');


/*---------------VARIABLES CSS-------------------*/
:root {
    --header-height: 6.25rem;

    /*---------------COLLORS -------------------*/
    --rosa-color: #e4b2c6a9;
    --cafe-color: #4f321f;
    --amarillo-color: #dfd6a7;
    --white-color: #ffffff;
    --black-color: #151515;
    --fuccia-color: rgb(219, 103, 149);

    /*---------------FONT  AND TYPOGRAPHY-------------------*/
    --font-cursive: 'Gelasio', cursive;
    --body-font: 'Montserrat', sans-serif;
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.813rem;

    /*---------------FONT WEIGHT-------------------*/
    --font-light: 300;
    --font-medium: 400;
    --font-semi-bold: 700;
    --font-bold: 800;

    /*---------------MARGINS-------------------*/
    --mb-05: 0.5rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*---------------Z INDEXS-------------------*/
    --Z-fixed: 100;
    --z-tooltip: 10;
    --z_negative: -1;
}
/* base */
*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--white-color);
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    overflow-x: hidden;
}
main{
    position: relative;
    padding-top: 90px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.section{
    padding: calc(var(--header-height) + 20px) 0;
}
.grid{
    display: grid;
    gap: 20px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section__title {
    margin: 0 auto;
    text-align: center;
}
.section__title2 {
    margin: 0 auto;
    text-align: center;
}
.section__title h1{
    font-family: var(--font-cursive);
    font-size: var(--big-font-size);
    font-weight: var(--font-medium);
    line-height: var(--big-font-size);
    color: var(--rosa-color);
}
.section__title2 h1{
    font-family: var(--font-cursive);
    font-size: var(--big-font-size);
    font-weight: var(--font-medium);
    line-height: var(--big-font-size);
    color: var(--black-color);
}
.section__title span{
    font-weight: var(--font-light);
    font-size: var(--h2-font-size);
    line-height: var(--h2-font-size);
    color: var(--white-color);
}
/* BUTTON */
.boton{
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--cafe-color);
    color: var(--white-color);
    border: 1px solid var(--black-color);
    border-radius: 50px;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
    line-height: var(--normal-font-size);
    padding: 10px 10px;
    outline: none;
    cursor: pointer;
    transition: all 400ms ease;
}
.boton:hover{
    background-color: transparent;
    color: var(--black-color);
}
.boton__agenda{
    width: 280px;
    background-color: transparent;
    color: var(--black-color);
    padding: 5px 10px 5px 0;
    transition: all 400ms ease-in-out;
    position: relative;
}
.boton__agenda::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18%;
    height: 100%;
    background-color: var(--fuccia-color);
    border: 1px solid var(--cafe-color);
    border-radius: 50px;
    transition:  all 400ms ease-in-out;
}
.boton__agenda i{
    position: relative;
    left: -33px;
    margin-right: var(--mb-1-5);
    font-size: var(--h2-font-size);
    color: var(--white-color);
    z-index: var(--z-tooltip);
}
.boton__agenda:hover::before{
    width: 100%;
    z-index: var(--z_negative);
}
.boton__agenda:hover{
    color: var(--white-color);
    z-index: var(--z-tooltip);
}
/* NAV */



/*HOME IMAGEN FONDO*/
.home {
    min-height: 100vh;
    background: url(/IMG/fondo8.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    overflow: hidden;
    position: relative;
}

.home .content {
    display: flex;
    flex-flow: column;
    padding-top: 20rem;
    text-align:left;
    margin: 0 30px;
}

.home .content h1{
    font-size: 6rem;
    text-transform:inherit;
    color: var(--fuccia-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}

.home .content p{
    font-size: 3rem;
    font-weight: 1rem;
    line-height: 1.0;
    padding:1rem 0;
    color:rgb(14, 3, 0) ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}

/*TIPS*/

.tips{
    margin-top: var(--mb-2-5);
    justify-content: center;
    align-items: center;
    background: white;
    padding: 1rem;
    
}
.contip{
    text-align: center;
    align-items: center;
    padding: 30px;
}
.tipcontainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%px;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    
}
.tipcontainer .tip{
    flex: 0 0 calc(33.33% - 20px); 
    margin: 30px;
    max-width: 500px;
    height: 300px;
    background: white;
    padding: 5px 15px;
    box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}
.tipcontainer .tip:hover{
    height: 420px;
}
.tipcontainer .tip .imgBx{
    position: relative;
    width: 450px;
    height: 170px;
    top: -80px;
    left: 10px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);

}
.tipcontainer .tip .imgBx img{
    width: 100%; 
    height: 180%; 
    object-fit: cover; 
    border-radius: 4px;
}
.tipcontainer .tip .content{
    position: relative;
    margin-top: -140px;
    padding: 0px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;

}
.tipcontainer .tip:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: 80px;
    transition-delay: 0.3s;
}

.opbtn1 {
    color: white;
    display: inline-block;
    text-decoration: none;
    background-color: var(--fuccia-color);
    border: 1px solid var(--white-color);
    padding: 1.2rem 3rem;
    border-radius: 1rem;
    font-size: 14px;
    transition: all 0.2s;
    text-align: center;
    position: relative;
    
  
     /* Esto coloca el bot칩n al final */
  }
  
  .opbtn1:hover {
    transform: scale(1.1);
    color: black;
    background-color: #fea9c5;
    border: 1px solid var(--fuccia-color);
  }
  
/* ABOUT */
.container{
    height: 350px;
    max-width: 1200px;
    margin: 0 auto;
    
}
.about {
    background-color: var(--rosa-color);
}
.about__content{
    padding: 2rem;
}
.about__container {
   
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.about__body {
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}

.about__body--show {
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.about__img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.about__texts {
    max-width: 700px;
}

.about__course {
    background-color: var(--fuccia-color);
    color: #fff;
    display: inline-block;
    padding: 5px;
}

.about__arrow {
    width: 90%;
    cursor: pointer;
}



/* services */
.servicios{
    padding: 2rem;
}
.servicecontent{
    text-align: center;
    position: relative;
    align-items: center;
}

.services {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 250px 400px);
    gap: 30px;
    padding: 2rem;
}


.services__image {
    background-size: cover;
    background-position: center;
}

.services__texts {
    padding: 1rem 1.5rem;
    place-self: center;
    text-align: center;
    --color: hsla(51, 100%, 49%, 0.263);
}

.services__texts--2 {
    --color: hsla(7, 99%, 70%, 0.267);
}

.services__image--3 {
    background-size: cover;
    background-position: center;
}

.services__texts--3 {

}

.services__image--4 {
    background-size: cover;
    background-position: center;
}

.services__texts--4 {
    --color: hsla(7, 99%, 70%, 0.267);
}

.services__title {
    font-size: 2rem;
    font-family: var(--font-cursive);
    color: var(--black-color);
}

.services__paragraph {
    line-height: 1.5;
    color: var(--cafe-color);
    margin: 1.5rem 0;
}

.services__cta {
    color: var(--black-color);
    text-decoration: none;
    text-transform: uppercase;
    font-family: var();

    position: relative;
}

.services__cta::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    border-radius: 2em;
    z-index: -1;
    background-color: var(--color);
}


@media (min-width:768px) {

    .services {
        grid-template-rows: repeat(4, 500px);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "text1 img1"
            "img2 text2"
            "text3 img3" /* Agregado para el tercer conjunto de contenido */
            "img4 text4";
    }


    .services__image {
        background-image: url('/IMG/u침as.jpg');
        grid-area: img1;
    }

    .services__texts {

        text-align: start;
        grid-area: text1;
        padding: 2rem 3rem;
    }

    .services__texts--2 {
        grid-area: text2;
    }


    .service__image--2 {
        background-image: url('/IMG/pesta침as.jpg');
        grid-area: img2;
    }

    .service__image--3 {
        background-image: url('/IMG/facial.jpg'); 
        grid-area: img3;
    }

    .services__texts--3 {
        grid-area: text3;
        
    }

    .service__image--4 {
        background-image: url('/IMG/maquillaje.jpg'); 
        grid-area: img4;
    }

    .services__texts--4 {
        grid-area: text4;
    }

}


/* TESTIMONIALS */

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .testimonials__content {
    padding: 2rem;
  }
  .testimonials .row{
    top: -50px;
    position: relative;
  }
  .testimonials__card {
    width: 420px;
    
    grid-template-columns: 1fr;
  }
.testimonials__item{
    flex-direction: column;
    margin-bottom: var(--mb-1);
    position: relative;
}
.testimonials__item::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--rosa-color);
    border-radius: 30px;
}
.testimonials__img img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 15px;
    transition: all 0.8s ease;
    z-index: var(--Z-fixed);
}
.testimonials__item:hover .testimonials__img img{
    transform: translateX(300px) rotate(360deg);
}
.testimonials__box{
    position: relative;
    padding: 30px;
    z-index: var(--z-tooltip);
}
.testimonials__name{
    margin-bottom: var(--mb-1);
    text-align: center;
}
.testimonials__name h2{
    font-weight: var(--font-medium);
    font-size: var(--h2-font-size);
    line-height: var(--h2-font-size);
    margin-bottom: var(--mb-05);
}
.testimonials__name .star__icon{
    color: var(--cafe-color);
    font-size: var(--h3-font-size);
}
.testimonials__descripition p{
    line-height: var(--h2-font-size);
    margin-top: var(--mb-2);
}

.opbtn {
    color: white;
    display: inline-block;
    text-decoration: none;
    background-color: var(--fuccia-color);
    border: 1px solid var(--white-color);
    padding: 1.2rem 3rem;
    border-radius: 1rem;
    font-size: 14px;
    transition: all 0.2s;
    text-align: center;
    position: relative;
    margin-top: 50px;
    top: 100px;

    
  
     /* Esto coloca el bot칩n al final */
  }
  
  .opbtn:hover {
    transform: scale(1.1);
    color: black;
    background-color: #fea9c5;
    border: 1px solid var(--fuccia-color);
  }

/*MAPA*/



/* FOOTER */
.footer{
    background-color: var(--rosa-color);
}
.footer__list{
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--black-color);
}
.footer__data-social .social__icon{
    color: var(--black-color);
    font-size: var(--h2-font-size);
}
.footer__data-social .social__icon:hover{
    border-bottom: 1px solid var(--white-color);
}
.footer__data{
    text-align: center;
    margin-bottom: var(--mb-1);
    
}
.footer__data h1{
    color: var(--black-color);
}
.footer__data-social{
    margin-top: var(--mb-1);
}
.footer__data h2{
    font-weight: var(--font-bold);
    font-size: var(--h2-font-size);
    line-height: var(--h2-font-size);
    color: var(--black-color);
    margin-bottom: var(--mb-1);
    text-transform: capitalize;
}
.footer__data p{
    font-weight: var(--font-medium);
    line-height: calc(var(--normal-font-size) + 10px);
    text-align: center;
    color: var(--black-color);
}
.footer .copy{
    text-align: center;
    padding: 1rem 0;
    color: var(--black-color);
}
.footer .copy p{
    font-weight: var(--font-bold);
    line-height: var(--h3-font-size);
}
.footer .copy span{
    font-size: var(--small-font-size);
    line-height: var(--small-font-size);
}
/* MEDIA QUERY */
@media (min-width: 660px){
    .services__content__descripion{
        grid-template-columns: repeat(3, 1fr);
    }
}
/* MEDIA QUERY */
@media (min-width: 860px){
    .services__content__descripion{
        grid-template-columns: repeat(4, 1fr);
    }
    .gallery::before{
        height: 50%;
        top: 25%;
    }
    .testimonials__card{
        width: 820px;
        grid-template-columns: repeat(2, 1fr);
    }
    .testimonials__item:hover .testimonials__img img{
        transform: translateX(300px) rotate(360deg);
    }
}
@media (min-width: 960px){
    .nav__menu{
        display: flex;
        align-items: center;
        padding: 0;
    }
    .nav__item:not(:last-child){
        margin-right: var(--mb-2-5);
    }
    .nav__link{
        font-size: var(--normal-font-size);
        font-weight: var(--font-bold);
        text-transform: capitalize;
        color: var(--black-color);
        transition: all 400ms ease;
        position: relative;
    }
    .nav__toggle{
        display: none;
    }
    .hero .hero__img{
        display: block;
    }
    .hero .hero__img, .hero .hero__content{
        width: 50%;
        height: 100vh;
    }
    .hero .hero__img img{
        max-width: 100%;
        height: 100%;
    }
    .hero .hero__content,
    .hero .hero__content p{
        align-items: flex-start;
        text-align: left;
        padding: 0;
    }
    .hero .hero__content h1{
        font-size: 4rem;
    }
    .footer__list{
        grid-template-columns: repeat(4, 1fr);
    }
}
