@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&display=swap');


:root {
    --header-height: 6.25rem;

    /*---------------COLLORS -------------------*/
    --rosa-color: #e4b2c6a9;
    --cafe-color: #4f321f;
    --amarillo-color: #dfd6a7;
    --white-color: #ffffff;
    --black-color: #151515;
    --fuccia-color: rgb(219, 103, 149);

    /*---------------FONT  AND TYPOGRAPHY-------------------*/
    --font-cursive: 'Gelasio', cursive;
    --body-font: 'Montserrat', sans-serif;
   
    --normal-font-size: 1rem;
    --small-font-size: 0.813rem;
}


/* NAV */
.header{
    background: black;
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 200;
}

.header .logo img{
    height: 6rem;
    border-radius: 100px;
}

.header .navbar .names:hover{
    color:var(--fuccia-color);
    border-bottom: .1rem solid var(--fuccia-color);
    padding-bottom: .5rem;
}
.header .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .navbar .names {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: white;
}

.header i.profile {
    color: white;
    font-size: 2rem; 
    margin-left: 80px; 
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

/* Estilo específico para el icono del carrito de compras */
.header .navbar a i.fa-cart-shopping {
    font-size: 1.5rem;
    color: #ffffff;
    margin-left: 10px; 
    cursor: pointer; 
    padding: 0 40px;
    
}


/* Agrega este código al final de tu archivo CSS */

/* Estilos específicos para el icono de hamburguesa */
.header .navbar .menu-icon {
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

/* MEDIA QUERY */
@media (max-width: 768px) {
    .header {
        padding: 1rem 5%;
    }
    .header .logo img{
        height: 4rem;
    }

    .header .navbar {
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: var(--header-height);
        left: 0;
        right: 0;
        background: black;
        display: none;
        z-index: 1000;
    }

    .header .navbar.show {
        display: flex;
    }

    .header .navbar .names {
        margin-left: 20px;
    }

    .header .navbar .menu-icon {
        display: block;
    }

    .header i {
        display: none;
        color: white;
    }

    .header .navbar a i.fa-cart-shopping {
        margin-left: 0;
        padding: 0 10px;
    }
}

/* Mostrar el icono solo en dispositivos móviles */
@media (max-width: 768px) {
    .header .menu-icon {
        display: inline-block; /* Muestra el icono solo en dispositivos móviles */
    }
    
    .header i {
        display: none;
        color: white;
        font-size: 2rem; 
    }
}
