@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&display=swap');


/* NAV */
.header{
    background: black;
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding:1rem 7%;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}
.header .logo img{
    height: 6rem;
    border-radius: 100px;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color: white;
}

.header .navbar a:hover{
    color:var(--fuccia-color);
    border-bottom: .1rem solid var(--cafe-color);
    padding-bottom: .5rem;
}
