@page {
    size: landscape;
    margin: 40px; /* Ajusta los márgenes según sea necesario */
}

body {
    margin-top: 100px; /* Ajusta según la altura de tu encabezado */
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
}

#header img,
#header .text-logo {
    display: inline-block;
    vertical-align: middle;
}

#header .text-logo {
    margin-left: 10px;
}

.cabecera{
    background-color: #e36aacb5;
}

.pdf-table {
    page-break-inside: auto; /* Permite que la tabla se divida entre páginas si es necesario */
    margin-top: 50px; /* Ajusta según la altura de tu encabezado */
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #e36aacb5;
}

.textFooter {
    text-align: center;
    width: 100%;
}