

.products{
	font-size: 1.7rem;
	background: var(--rosa-color);
	color: #ececec;
	padding: 3rem;
	
}

 .all-products{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 1.5rem;
}

.product{
	overflow: hidden;
	background: #ffffff;
	color: #21201e;
	text-align: center;
	padding: 2rem 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1.2rem;
	margin: 1.5rem;
}

.product .product-title, .product .product-price{
	font-size: 18px;
}

.product:hover img{
	scale:  1.1;
}

.product:hover {
	box-shadow: 5px 15px 25px #eeeeee;
}
.product-info{
    margin-top: 15px;
}
.product img {
	height: 280px;
	width: 350px;
	position: relative;
    margin: 0px;
	transition: all 0.3s;
	border-radius: 10px;
}

.product a:link, .product a:visited{
	color: black;
	display: inline-block;
	text-decoration: none;
	background-color: var(--fuccia-color);
	border: 1px solid var(--black-color);
	padding: 1.2rem 3rem;
	border-radius: 1rem;
	margin-top: 1rem;
	font-size: 14px;
	transition: all 0.2s;
}

.product a:hover{
	transform: scale(1.1);
	background-color: var(--rosa-color);
	border: 1px solid var(--fuccia-color);
} 

.productscontent {
	position: relative;
	align-items: center;
	text-align: center;
}
.productscontent .opbtn2 {
	position: relative;
}

.opbtn2 {
  color: var(--black-color);
  display: inline-block;
  text-decoration: none;
  background-color: #fea9c5;
  border: 1px solid var(--fuccia-color);
  padding: 1.2rem 3rem;
  border-radius: 1rem;
  font-size: 14px;
  transition: all 0.2s;
  margin-top: 20px;
  text-align: center;
  position: relative;
  

   /* Esto coloca el botón al final */
}

.opbtn2:hover {
  transform: scale(1.1);
  color: black;
  background-color: var(--rosa-color);
  border: 1px solid var(--fuccia-color);
}